<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <th:block layout:fragment="head">
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  </th:block>
</head>
<body>
<div layout:fragment="content">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">부서 목록</h1>

  <!-- 부서 테이블 -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>부서명</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="dept : ${departmentList}">
            <td th:text="${dept.deptName}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="scripts">
  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable();
    });
  </script>
</th:block>
</body>
</html>
